body {
  font-family: 'Crafty Girls', sans-serif;
  background-image: url("../data/img/home.jpg");
  background-size: cover;
}

.logo {
  font-style:italic;
  text-align: center;
  padding: 10px;
  color: white;
}

